@import url(http://fonts.googleapis.com/css?family=Lato);
body { overflow: auto;}

.big { 
	background-color: rgb(216, 209, 209);
	width: 100%;
	height: 1000px;
	margin-top: 0px; 
	margin-left: 0px;
	padding: 0px 0px 0px 0px;
	top:70px; left: 0px;
	position: fixed;
}

.pinkbg {
	position: absolute;
	top:0px; left: 0px;
	height: 220px;
	width: 100%;
	background-color: #e6567a;
}

/* Style the Dashboard Title Header */
#dash_head {
	margin-top:85px;
 	text-align:center;
 	font-family: 'Lato', sans-serif;
 	color: #fff;
 	font-size: 50px;
}

.hove {
	position: absolute;
	top: 220px; left:5%;
	width: 90%;
	margin-top:20px; margin-bottom:20px;
	height: 220px;
}
.stat {
	position:fixed;
	width: 18%;
	padding: 0;
	height: 220px;
}
#stat1 {
	left: 5%;
	background-color: #578ebe;}
#stat2 {
	left: 29%;
	background-color: #e35b5a;}
#stat3 {
	left: 53%;
	background-color: #44b6ae;}
#stat4 {
	left: 77%;
	background-color: #8775a7;}

.stat h2, h3 {
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.stat h2 {
	margin-top: 50px;
	margin-bottom: 55px;
	font-size:40px;
	color: #fff;
}

.container {
  position: relative;
  padding-top: 510px;
  width: 90%; left: 5%;
}
.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 330px;
}

thead {
  background: #3498db;
  color: #fff;
  position: absolute;
  top: 480px;
  left: 0;
  width: 100%;
  height: 30px;
  font-size: 15px;
}

thead th {
	padding: 6px 0;
}

.tableBody tr {
  height: 30px;
}

td { font-size: 15px; }

/* skin */
table {
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  text-align:center;
}

table tbody tr:hover {
  background: #FFCCAA;
}
